html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'M+ 1c black';
    src: url('/fonts/mplus-1c-black-sub.eot');
    src: url('/fonts/mplus-1c-black-sub.eot?#iefix') format('embedded-opentype'),
    url('/fonts/mplus-1c-black-sub.woff') format('woff'),
    url('/fonts/mplus-1c-black-sub.ttf') format('truetype');
}


body{
    width:100%;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
}

.pc { display: block !important; }
.sp { display: none !important; }
 

.hiragino{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.top-wrapper{
    padding-top: min(28.53vw,107px);
}


.pc-header-fixed{
    height: min(28.53vw,107px);
    background-color:rgba(255,255,255,0.47);
    position: fixed;
    z-index: 10;
    width: 100%;
}
.pc-header-left {
    width: min(69.33vw,260px);
    height: auto;
    margin-top: min(7.2vw,27px);
    margin-left: min(5.87vw,22px);
}
.pc-header-right {
    width: min(124.27vw,466px);
    height: auto;
    float: right;
    margin-top: min(7.47vw,28px);
}
.firstview {
    width: 100%;
}
.firstview img {
    width: 100%;
}


.quote-btn {
    margin: min(5.94vw,76px) auto;
    width: min(38.83vw,497px);
}

.quote-btn img {
    width: 100%;
}

.float-btn{
    position: fixed;
    bottom: 20px;
    z-index: 10;
    opacity: 0;
    transition: all 0.65s;
    width: 100%;
    margin: 0 auto;
}
.float-btn img {
    opacity: 0.95;
    width: min(38.83vw,497px);
    margin: 0 auto;
}

.float-btn img:hover{
    opacity:1;
}


.content1{
    max-width: 100%;
    background-color: rgb(242,242,242);
}
.content1 img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
}

.content2 {
    width: 100%;
    background-color: rgb(242,242,242);
    margin-top: min(8.2vw,105px);
}
.content2 img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
}

.content3 {
    width: 100%;
    margin-top: -1px;
}
.content3 img{
    width: min(67.5vw,864px);
    margin: auto;
}

.content4 {
    width: 100%;
    background-color: rgb(242,242,242);
    margin-top: min(6.48vw,83px) ;
}
.content4 img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
}

.content5 {
    width: 100%;
    background-color: rgb(242,242,242);
    margin-top: min(6.33vw,81px);
}
.content5 img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: auto;
}

.content6 {
    width: 100%;
}

.content6 img {
    width: min(65.78vw,842px);
    height: auto;
    margin: 0 auto;
}

.content7 {
    background-color: rgb(242,242,242);
    margin: min(11.17vw,143px) auto;
}
.content7 img {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.content8 {
    width: 100%;
}
.content8 img {
    width: min(69.3vw,887px);
    height: auto;
    margin: min(10.55vw,135px) auto;
}

footer{
    background-color: #A2E1D6;
    margin-bottom: min(7.81vw,100px);
}


.caution-title{
    text-align: center;
    background-color: #A2E1D6;
}

.caution-title h3{
    font-size: 1.5em;
    padding: 0.75em 0;
    font-weight: bold;
}

.caution-detail{
    padding:0 10%;
    padding-bottom: 40px;
}

.corporate-info{
    background-color: white;
    text-align: center;
    padding: 30px 0;
    
}



@media(max-width: 750px){
    .caution-detail {
        padding-left: 2%;
        padding-bottom: 1em;
        padding-right: 2%;
    }
    .caution-detail p{
        font-size: 0.5em;
    }
    foot{
        margin-bottom: 80px;
    }
}
/*sp-design*/
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; 
        max-width: 100%; }

    .top-wrapper{
        padding-top: 40px;
    }
    .sp-header-fixed{
        height: 40px;
        background-color:rgba(255,255,255,0.47);
        position: fixed;
        z-index: 10;
        width: 100%;
    }
    .sp-header-fixed img{
        width: auto !important;
        height: 24px ;
        margin: 8px 8px;
    }
    p.sp-header-right {
        float: right;
        color: rgba(16, 65, 123, 1);
        font-weight: 400;
        font-size: 11.79px;
        line-height: 109.01%;
        height: 7.31vw;
        margin-right: 2.05vw;
        margin-top: 2vw;
        font-family: 'Microsoft YaHei UI';
    }
    .sp-header-right span{
        font-size: 1.2em;
    }
        
    .quote-btn {
        width: 82.05vw;
    }
    
    .quote-btn img {
        width: 100%;
    }
    .btn2 {
        margin: 13.33vw auto;
    }

    .float-btn{
        right: 0;
        position: fixed;
        bottom: 20px;
        z-index: 10;
        opacity: 0;
        transition: all 0.65s;
    }
    .float-btn img {
        opacity:0.9;
        width: 82.05vw;
    }
    
    .content3 img{
        width: 100%;
    }
    
    .content6 {
        margin-top: 17.95vw;
    }
    
    .content6 img {
        width: 100%;
    }
    
    .content8 img {
        width: 100%;
    }
}
